
body{
	margin:auto;
	overflow:hidden;
	font-family:sans-serif;
}

.joueur{
	width:100%;
	background-color:black;
	color:white;
	text-align:center;
	font-size:40px;
	position:absolute;
}

.touch{
	width:100%;
	position:absolute;
	z-index:1;
	background-position:center center;
}

.img{
	max-width:100%;
	min-height:100%;
}

.button{
  -moz-box-sizing: border-box;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background: #434a50 url('img/default.png') repeat-x left bottom / auto 100%;
  border: 0.1rem solid black;
  border-radius: 0.2rem;
  font-weight: 500;
  font-size: 1.6rem;
  color: white;
  text-align: center;
  text-shadow: 0.1rem 0.1rem 0 rgba(255,255,255,0.3);
  text-decoration: none;
  outline: none;
}

.button:active{
	border-color: #008aaa;
	background: #008aaa;
	background-size: auto 100%;
	color: #333;
}

#touch1{
	top:0px;
	background-color:green;
	transform: rotateZ(180deg);
}

#touch2{
	bottom:0px;
	background-color:red;
}

#joueur1{
	bottom:10%;
}

#joueur2{
	bottom:10%;
}

#barreCentrale{
	position : absolute;
	top : 45%;
	width : 100%;
	background-color : black;
	color:white;
	z-index:2;
	text-align:center;
}

#boutons{
	margin:auto;
	vertical-align:middle;
	height:100%;
	width:100%;
}

#boutons td{
	width:33%;
	vertical-align:middle;
}

#menu{
	left:100%;
	text-align:center;
}

#index{
	left:0px;
}

#credits{
	left:200%;
}

.pane{
	position:absolute;
	top:0px;
	width:100%;
	transition:left 250ms linear;
	color:white;
	background-color:black;
	text-align:center;
}

h1{
	border-bottom:1px solid white;
	margin-bottom:2px;
}

.btnRetour{
	position:absolute;
}